
.text1{
    color: purple;
    text-align:left ;
    padding-top: 1px;
    padding-left: 10px;
}
.info-container{
    text-align: left;

}
h4{
    padding-top: 35px;
    padding-left: 10px;
}
h5{
    padding-top: 10px;
    padding-left: 10px;
}
