.candle-img{
    width: 20%;
  }
  .img-info{
    color: purple;
  }
  .heading2{
    padding-top: 35px;
    padding-left: 15px ;
    color: purple;
  }
  .product-wrapper{
    padding-top: 35px;
    padding-left: 25px ;
    color: purple;
  }
