
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10hv;
  background: purple;
  color: White;
  padding: 10px;
}
.text-link{
  color: plum;
  text-decoration: none; 
}
.text-link:hover{
  color: plum;
}
h3{
  padding-right: 50px;
}
h3{
  padding-right: 20px;
  color: rgb(177, 133, 177);
}
